
@{
    ViewBag.Title = "MapFields";
}

<div class="panel panel-default">
    <div class="sub-header panel-body list-inline">
        <span class="glyphicon glyphicon-tasks sub-header-taskicon"></span>
        <span class="sub-head-text">GOOGLE MAP FIELDS</span>
        <span class="glyphicon glyphicon-refresh sub-header-taskicon right"></span>
        <span class="glyphicon glyphicon-chevron-down sub-header-taskicon right"></span>
    </div>

    <div class="sub-body-content" style="justify-content: center; align-items:center; text-align: center">
        <text>Map Fields</text>
        <table class="table table-bordered" style="width: 50%; margin:auto;">
            <thead>
                <tr>
                    <th scope="col">Google Fields</th>
                    <th scope="col">Source Fields</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1. Title</td>
                    <td>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>2. Description</td>
                    <td>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>3. Regular Price</td>
                    <td>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>4. Sale Price</td>
                    <td>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>5. MPN</td>
                    <td>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>6. UPC</td>
                    <td>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>7. Currency Code</td>
                    <td><input class="form-control" /></td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top: 5px;">
            <div class="col-md-6" style="margin-top: 10px;"></div>
            <div class="col-md-1 btn-group btn-group-lg">
                <button type="button" class="btn btn-default" style="background-color: yellow; color: black;">SAVE</button>
            </div>
        </div>
    </div>
</div>

